@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #09090b ;
    --foreground: #ededed;
  }
}
*{


  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background-color: #09090b;
  font-family: Arial, Helvetica, sans-serif;
}
.recharts-wrapper,
.recharts-surface,
.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-wrapper:focus-visible,
.recharts-surface:focus-visible {
  outline: none ;

}
.scroll-hidden,body,html {
  scrollbar-width: none;       
  -ms-overflow-style: none;   
}

::-webkit-scrollbar {
  height: 0;              
}

 ::-webkit-scrollbar{
  scrollbar-width: thin;               /* Firefox */
  scrollbar-color: #059669 transparent;
}

/* Chrome / Safari */
::-webkit-scrollbar {
  height: 12px;                         /* MAIS EM CIMA (mais fino) */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #059669;
  border-radius: 999px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}